.modal{
  display: none;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  color: #eee;
  background: rgba(0,0,0,.5);
  border: 2px solid #555;
  padding: 40px;
  text-align: center;
}

.modal.active{
  display: block;
}

.modal .modal-gameover{
  display: none;
}
.modal .modal-description{
  display: block;
}

.modal.gameover .modal-gameover{
  display: block;
}
.modal.gameover .modal-description{
  display: none;
}

.modal-title{
  margin: 0 0 20px;
  font-size: 30px;
  color: #fff4aa;
}